<div class="notice" routerLink="/courses">عیدی خود را دریافت کنید!</div>
<app-header></app-header>
<router-outlet>
  @if (showLoader) {
  <!-- Loader -->
  <div class="loaderContainer">
    <div class="loader"></div>
    <h3>درحال بارگزاری ...</h3>
  </div>
  }
  <div class="upBtn" (click)="goToFirst()">
    <!-- A button for jump into first of the page -->
    <img
      src="../assets/images/up-2-svgrepo-com.svg"
      alt="upBtn"
      title="برو اول صفحه"
    />
  </div>
</router-outlet>
<app-footer></app-footer>
